@page "/Login"
@using WorkoutSample.Maui.Models
@using WorkoutSample.Maui.Contracts
@inject IWorkoutSampleAppService WorkoutSampleAppService
@inject NavigationManager NavigationManager

<EditForm Model="@_loginModel" OnValidSubmit="Submit">
    <DataAnnotationsValidator/>
    <div>
        <label>Email</label>
        <InputText type="email" @bind-Value="@_loginModel.Email"/>
        <ValidationMessage For="@(() => _loginModel.Email)"/>
    </div>
    <div>
        <label>Password</label>
        <InputText type="password" @bind-Value="@_loginModel.Password"/>
        <ValidationMessage For="@(() => _loginModel.Password)"/>
    </div>
    <div>
        <NavLink href="registration">
            <span>Click here to create new account.</span>
        </NavLink>
    </div>
    <div>
        <button type="submit">
            Sign In
        </button>
    </div>
</EditForm>

@code {
    readonly LoginModel _loginModel = new();

    protected override void OnInitialized()
    {
        _loginModel.Email = Settings.UserBasicDetails.Email;
        StateHasChanged();
    }

    private async void Submit()
    {
        var result = await WorkoutSampleAppService.LoginAsync(
            _loginModel.Email,
            _loginModel.Password);

        if (result.IsSuccess)
        {
            await WorkoutSampleAppService.GetUserInfoAsync();
            NavigationManager.NavigateTo("/dashboard");
        }
        else
        {
            await App.Current.MainPage.DisplayAlert("Error", "Error Login User", "Ok");
        }
    }

}